body {
  background-color: chartreuse;
}
section {
  margin-inline: 20px;
}
h1 {
  margin-inline: 50px;
}
p {
  font-size: 20px;
}
/* button {
  background-color: rgba(0, 0, 255, 0.817);
  color: white;
  padding-block: 10px;
  padding-inline: 40px;
  margin-block: 50px;
  margin-inline: 50px;
  cursor: pointer;
  border: 1px soloid color(srgb red green blue);
  border-radius: 30px;
}

button:hover {
  background-color: rgb(72, 91, 91);
  color: bisque;
}
button:active{
    background-color: brown;
    color: burlywood;
} */

header {
  border: 2px solid red;
  background-color: blue;
  /* text-align: center; */
}
nav ul li{
  display: inline;
  list-style-type: none;
}
nav ul li a{
  background-color: black;
  color: white;
  text-decoration: none;
  margin-inline: 35px;
  border-radius: 10px;
}
ul li{
  text-decoration: none;
}

.pra a{
  background-color: red;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  margin-inline: 30px;
}

a{
  padding-block: 10px;
  padding-inline: 10px;
  margin-block: 10px;
  margin-inline: 10px;
}
